.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .header-text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    }
    
    .student-page {
    text-align: center;
    }
    
    .student-info {
    margin-bottom: 40px;
    border-collapse: collapse;
    width: 80%;
    }
    
    .student-info th {
    background-color: #ddd;
    padding: 8px;
    font-weight: bold;
    text-align: left;
    }
    
    .student-info td {
    padding: 8px;
    text-align: left;
    }
    
    .table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    }    
    
    .table th,
    .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }
    
    .table th {
    background-color: #f2f2f2;
    }